<!DOCTYPE html>
<html>
<head>
	<style>
textarea{

}
	</style>

</head>
<body>
	<form class="form-horizontal" role="form" action="/add_article" method="POST">
		<div>
			<label for="inputEmail3">기사 URL</label>
			<div>
				<input name="url" class="form-control" id="inputEmail3" placeholder="URL을 복붙해주세요">
			</div>
		</div>
		<div>
			<label for="inputEmail3">기사 제목</label>
			<div>
				<input name="title" class="form-control" id="inputEmail3" placeholder="기사 제목을 복붙해주세요">
			</div>
		</div>
<div>
	<div>
		
		<button type="submit" class="btn btn-default">기사 등록 </button>
	</div>

</div>
	</form>


</body>
</html>